<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Loomade nimistu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col size="12" *ngFor="let animal of animals">
      <ion-card>
        <ion-card-header>
          <ion-avatar>
            <img [src]="animal.profilePic" alt="pildid"> 
          </ion-avatar>
          <ion-label>
            <h2>{{animal.name}}</h2>
          </ion-label>
        
      </ion-card-header>
        
        <ion-card-content>
          <p>{{animal.about}}</p>
          <a [routerLink]="['/animal-detail', animal.id]"> Vaata t'psemalt</a>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>  
</ion-content>
