<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>hero-edit</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
<form (ngSubmit)="onSubmit()" [formGroup]="heroEditForm">
<input formControlName="name" type="text">
<input formControlName="weapon" type="text">
<input formControlName="catchphrase" type="text">
<input formControlName="picture" type="text">
<button  type="submit">Muuda</button>



</form>

  
          
</ion-content>
