<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>Auto vaatamine</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onDelete()" >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col> <h1 class="ion-text-center"
    > Nimi: </h1> </ion-col>
    <ion-col> <h1>{{ car.name}} </h1></ion-col>
  </ion-row>

  
  <ion-row>
    <ion-col> <h1 class="ion-text-center"
    > Aasta: </h1> </ion-col>
    <ion-col> <h1>{{car.year}} </h1></ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img [src]="car.imgSource" ></ion-img>
    </ion-col>
  </ion-row>




  </ion-grid>
 
 

</ion-content>
