.speaker-background {
    position: relative;  
    display: flex;  
    padding-top: var(--ion-safe-area-top);  
    align-items: center;
    justify-content: center;    
    height: calc(250px + var(--ion-safe-area-top));  
    background: center / cover 
    url(/assets/speaker-background.png) no-repeat;
  }  
  .speaker-background img {
    width: 90px;
    border-radius: 50%;
    margin-top: calc(-1 * var(--ion-safe-area-top));
  }