<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Meist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-card>
      <img src="\assets\icon\about.png " />
      <ion-card-header>
        <ion-card-subtitle>Autod</ion-card-subtitle>
        <ion-card-title>Tallinn, Harjunmaa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Asutatud 1829 aastal.  Tegeleme autode m[[gi ja parandusega.]]
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>
