<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  
    <ion-title><ion-icon name="bus-outline"></ion-icon>
      Cars
    </ion-title>  
      <ion-buttons slot="end">
        <ion-button  routerLink="/add">
          <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <ion-title class = "ion-text-center">
    {{ carTitle }} 
  </ion-title>
  <ion-list>
  <ion-item *ngFor="let car of cars" [routerLink]="['/view', car.id]">
    {{ car.name }}
    <ion-avatar slot="start"> 
          <ion-img [src]="car.imgSource"> </ion-img>
      </ion-avatar>
  </ion-item>
  </ion-list>
</ion-content>




