<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DC Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <!-- <img src="{{hero.picture}}"> -->
    <ion-card-header>
      <ion-card-title>
        <ion-label>
        Nimi: {{hero.name}}
        </ion-label>
      </ion-card-title>

      <ion-card-subtitle>
        <ion-label>
          Näitleja: {{hero.actor}}
        </ion-label> 
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
