ion-menu-button {
  color: var(--ion-color-primary);
}

.color-change {
  background-color: antiquewhite;
  height: 100px;
  width: 100px;
  margin: 20px;
}

.mock-button{
  background-color: rgb(3, 206, 54);
  height: 50px;
  width: 100px;
  margin: 20px;
  border-radius: 30%;

}