<ion-header>
  <ion-toolbar>
    <ion-title>Ostu võimalused</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-thumbnail slot="start"> 
  <img src="\assets\icon\arrow.png " alt="arrow target">
  </ion-thumbnail>
  <ion-label>
    <h4>Autod hindame kohapeal.</h4>
    <p>Meil on oma eksperdid, kes hindavad auto seisukorda ja teevad kohapeal hinnapakkumise, ....</p>

  </ion-label>

</ion-item>

<ion-item>
<ion-thumbnail slot="start"> 
<img src="\assets\icon\arrow.png " alt="arrow target">
</ion-thumbnail>
<ion-label>
  <h4>Raha kohe kätte või sisaldab uue auto hinnas.</h4>
  <p>Uue auto ostmisel arvestatakse vana auto maksumusega ja ....</p>
</ion-label>
</ion-item>

</ion-content>
